streamlit
pandas>=2.0.0
openpyxl==3.1.5
plotly>=5.3.1
scikit-learn
statsmodels
persiantools
reportlab
pulp
scipy
prophet
kaleido==0.2.1
arabic-reshaper
python-bidi
streamlit
pandas==1.5.3
numpy==1.24.3
plotly
statsmodels
scikit-learn
persiantools
reportlab
arabic-reshaper
python-bidi
pulp
scipy
prophet
openpyxl
kaleido