streamlit
pandas
openpyxl==3.1.2
plotly
matplotlib
seaborn
scikit-learn
persiantools
reportlab
xlsxwriter
numpy
statsmodels
prophet
pulp
scipy
pywhatkit
kaleido
plotly>=5.3.1
kaleido==0.2.1  # یا 0.1.0.post1 اگر 0.2.1 کار نکرد
streamlit
pandas
streamlit
pandas
openpyxl==3.1.2
plotly>=5.3.1
matplotlib
seaborn
scikit-learn
persiantools
reportlab
xlsxwriter
numpy
statsmodels
prophet
pulp
scipy
pywhatkit
kaleido==0.2.1